*{
    margin:0;
    padding:0;
}
body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.navbar-brand {
    width:80%;
}
.fonth2 {
font-weight: bolder;
font-size:1rem;
color: white;
}

.fonth3 {
color: white;
font-size:1.5rem;
}


.colorw {
    color:white;
}

.asideborderbot{
    border-bottom: solid white 1px;
}

.asideborderbot:first-child{
    border-top: solid white 1px;

}


.fab ,.fas{
    
    color:white;
    padding:0.5rem 1rem;
}

.ok{
    background-color:green;
    color:white
}

.ok2{
    display: none;
}
@media screen and (max-width: 767px){
    .ok{
        display:none;
    }

    .ok2{
        display: initial;
        background-color:green;
        padding-top:0.75rem;
        padding-bottom: 0.75rem;
    }
    .navbar-brand {
        width:67%;
    }
}

